
.ftpconfig
.ftpconfig2
*.log
config.php

_nemazat/index.html
_nemazat/css/main.css.map
_nemazat/css/main.css
_nemazat/css/font-awesome.min.css

.vscode/
.vscode/sftp.json

app/updater/*.bin
app/logs/*.log
backup/*.zip


vendor/
