
.ftpconfig
.ftpconfig2
*.log
*.bin
config.php

_nemazat/index.html
_nemazat/css/main.css.map
_nemazat/css/main.css
_nemazat/css/font-awesome.min.css

.vscode/
.vscode/sftp.json

vendor/


logs/*.log
updater/*.bin
backup/*.zip
