pre{
    border-radius: 3px;
    border: 0px solid transparent;
    color: #d4def7;
    padding: 0.5em 0.8em;
    line-height: 1.5;
    background: #121a2b;
    width: 100%;
    display: block;
}

.rectangle-content{
    width: 100%;
    background: linear-gradient(135deg, rgba(116, 34, 189, 0.5), rgba(185, 19, 121, 0.5));
    border-radius: 8px;
    padding: .25rem !important;
}